In [1]:
USER_TOKEN = "e242f222-9e4d-4816-9d43-e75e71fb4363"
BASE_URL = "https://api.yocket.com/"
UNIVERSITIES = ""

In [126]:
import urllib
import re
import itertools
import json
import pandas as pd
import pickle as pkl

### List all universities and codes

In [118]:
max_page = 20
country = 'usa'

In [128]:
# universities_links = []
# for page_no in range(max_page):
#     html = urllib.request.urlopen("https://www.yocket.com/universities/"+country+"?page="+str(page_no))
#     text = html.read()
#     plaintext = text.decode('utf8')
#     links = re.findall("href=[\"\'](.*?)[\"\']", plaintext)
#     universities_links.append(links)

# universities_links = list(itertools.chain.from_iterable(universities_links))
# universities_links = list(set(universities_links))
# universities_links = [university for university in universities_links if '/universities/' in university]
# universities_links = [university for university in universities_links if '?page' not in university]
# universities = [university.replace('/universities/','') for university in universities_links]

# output = open('../data/universities_list.pkl', 'wb')
# pkl.dump(universities, output)
# output.close()

In [130]:
input_file = open('../data/universities_list.pkl', 'rb')
universities = pkl.load(input_file)

In [131]:
university_list = []
for university in universities:
    university = university.split('-')
    if university[-1].isnumeric():
        temp_dict = {}
        temp_dict['id'] = university[-1]
        temp_dict['university_name'] = ' '.join(university[:-1])
        university_list.append(temp_dict)

In [135]:
course_list = []
count = 0
for university in university_list:
    count += 1
    course_link = "https://api.yocket.com/universities/courses/"+university['id']+"/0/e242f222-9e4d-4816-9d43-e75e71fb4363?is_review=0&page=0&items=1000"
    html = urllib.request.urlopen(course_link)
    text = html.read()
    y = json.loads(text)
    for course in y['data']['courses']['results']:
        course['university_id']= university['id']
        course_list.append(course)
    print('{}. University ID : {} Name : {} Courses Added : {}'.format(count, university['id'], university['university_name'], len(y['data']['courses']['results'])))

1. University ID : 4004 Name : southern utah university Courses Added : 3
2. University ID : 2775 Name : san diego state university Courses Added : 80
3. University ID : 706 Name : texas a and m university college station Courses Added : 62
4. University ID : 3992 Name : cegep de sherbrooke Courses Added : 0
5. University ID : 3362 Name : university of bath Courses Added : 39
6. University ID : 3658 Name : audencia business school Courses Added : 4
7. University ID : 764 Name : university of california san diego Courses Added : 59
8. University ID : 3157 Name : pittsburgh state university Courses Added : 51
9. University ID : 4073 Name : yale school of the environment Courses Added : 1
10. University ID : 3162 Name : university of hartford Courses Added : 26
11. University ID : 4222 Name : mayo clinic Courses Added : 0
12. University ID : 3786 Name : cardiff metropolitan university Courses Added : 6
13. University ID : 2934 Name : university of paderborn Courses Added : 52
14. University ID : 3651 Name : university of rennes 1 Courses Added : 4
15. University ID : 2700 Name : depaul university Courses Added : 125
16. University ID : 3072 Name : royal roads university Courses Added : 13
17. University ID : 3904 Name : seneca college newnham Courses Added : 12
18. University ID : 3035 Name : illinois state university Courses Added : 79
19. University ID : 3852 Name : university of lincoln Courses Added : 10
20. University ID : 3520 Name : the new school newyork Courses Added : 9
21. University ID : 3581 Name : karolinska institutet Courses Added : 7
22. University ID : 810 Name : university of illinois at chicago Courses Added : 112
23. University ID : 3231 Name : university of amsterdam Courses Added : 76
24. University ID : 4079 Name : blekinge institute of technology Courses Added : 7
25. University ID : 2992 Name : concordia university montreal Courses Added : 69
26. University ID : 3779 Name : university of greenwich Courses Added : 19
27. University ID : 3020 Name : university of auckland Courses Added : 58
28. University ID : 2868 Name : brandenburg university of technology Courses Added : 8
29. University ID : 3982 Name : conestoga college kitchenerâ€“doon Courses Added : 12
30. University ID : 3646 Name : sciences po Courses Added : 11
31. University ID : 3372 Name : university of strathclyde Courses Added : 45
32. University ID : 3010 Name : york university toronto Courses Added : 58
33. University ID : 4251 Name : hult international business school london undergraduate Courses Added : 0
34. University ID : 4244 Name : maastricht school of management Courses Added : 1
35. University ID : 1099 Name : university of idaho Courses Added : 58
36. University ID : 3797 Name : edinburgh napier university Courses Added : 8
37. University ID : 3387 Name : keele university Courses Added : 10
38. University ID : 2749 Name : new york institute of technology manhattan Courses Added : 21
39. University ID : 2627 Name : university of missouri columbia Courses Added : 63
40. University ID : 4110 Name : university of suffolk Courses Added : 12
41. University ID : 3416 Name : university of basel Courses Added : 22
42. University ID : 3375 Name : city university london Courses Added : 31
43. University ID : 860 Name : university of north carolina at charlotte Courses Added : 59
44. University ID : 3871 Name : sault_college Courses Added : 4
45. University ID : 3874 Name : free university of berlin Courses Added : 5
46. University ID : 2575 Name : howard university Courses Added : 39
47. University ID : 4136 Name : university of paris est creteil Courses Added : 12
48. University ID : 3958 Name : lethbridge college Courses Added : 0
49. University ID : 2586 Name : new mexico state university Courses Added : 51
50. University ID : 3013 Name : singapore management university Courses Added : 16
51. University ID : 3357 Name : queen mary university of london Courses Added : 51
52. University ID : 3867 Name : lambton_college Courses Added : 10
53. University ID : 3636 Name : emlyon business school paris Courses Added : 2
54. University ID : 2962 Name : queensland university of technology brisbane Courses Added : 55
55. University ID : 2630 Name : university of nevada reno Courses Added : 55
56. University ID : 3886 Name : sheridan college davis Courses Added : 3
57. University ID : 2914 Name : university of bremen Courses Added : 50
58. University ID : 4068 Name : esslingen university of applied sciences Courses Added : 13
59. University ID : 2791 Name : state university of new york albany Courses Added : 50
60. University ID : 2990 Name : university of western australia perth Courses Added : 104
61. University ID : 3821 Name : the hong kong university of science and technology Courses Added : 50
62. University ID : 3062 Name : lakehead university Courses Added : 32
63. University ID : 3040 Name : university of manitoba Courses Added : 76
64. University ID : 4261 Name : institute of technology carlow Courses Added : 3
65. University ID : 3980 Name : technical university of applied sciences lubeck Courses Added : 1
66. University ID : 3014 Name : singapore institute of management Courses Added : 10
67. University ID : 752 Name : university of texas dallas Courses Added : 61
68. University ID : 2580 Name : louisiana state university and a and m college Courses Added : 79
69. University ID : 2672 Name : california polytechnic state university Courses Added : 27
70. University ID : 3099 Name : university of prince edward island Courses Added : 13
71. University ID : 2898 Name : martin luther university of halle wittenberg Courses Added : 61
72. University ID : 3145 Name : california state university chico Courses Added : 34
73. University ID : 3734 Name : essec business school paris Courses Added : 1
74. University ID : 3810 Name : university of cumbria Courses Added : 4
75. University ID : 2649 Name : vanderbilt university Courses Added : 10
76. University ID : 3380 Name : university of kent Courses Added : 21
77. University ID : 3104 Name : wilfrid laurier university Courses Added : 30
78. University ID : 3550 Name : state university of new york at oswego Courses Added : 23
79. University ID : 2878 Name : freiberg university of mining and technology Courses Added : 40
80. University ID : 4051 Name : stuttgart technology university of applied sciences Courses Added : 1
81. University ID : 1813 Name : university of arizona Courses Added : 90
82. University ID : 3692 Name : chapman univesity Courses Added : 0
83. University ID : 2717 Name : georgia southern university Courses Added : 29
84. University ID : 4211 Name : hof university of applied sciences Courses Added : 1
85. University ID : 3770 Name : soas university of london Courses Added : 2
86. University ID : 703 Name : georgia institute of technology Courses Added : 52
87. University ID : 4218 Name : berry college Courses Added : 2
88. University ID : 2866 Name : albert ludwigs university of freiburg Courses Added : 56
89. University ID : 4106 Name : university of applied sciences stralsund Courses Added : 1
90. University ID : 3831 Name : aalborg university aalborg Courses Added : 13
91. University ID : 3371 Name : university of east englia Courses Added : 31
92. University ID : 3325 Name : icahn school of medicine at mount sinai Courses Added : 6
93. University ID : 3808 Name : university of south wales Courses Added : 25
94. University ID : 3389 Name : university of portsmouth Courses Added : 30
95. University ID : 3235 Name : university of groningen Courses Added : 137
96. University ID : 4122 Name : institut national polytechnique de toulouse Courses Added : 9
97. University ID : 3598 Name : redbond university Courses Added : 28
98. University ID : 4188 Name : ferris state university Courses Added : 8
99. University ID : 2578 Name : kent state university Courses Added : 73
100. University ID : 2631 Name : university of new hampshire Courses Added : 45
101. University ID : 2972 Name : university of adelaide Courses Added : 106
102. University ID : 3795 Name : university of salford Courses Added : 25
103. University ID : 3220 Name : loughborough university Courses Added : 49
104. University ID : 2966 Name : university of the sunshine coast Courses Added : 14
105. University ID : 3212 Name : university college london Courses Added : 146
106. University ID : 3769 Name : middlesex university Courses Added : 19
107. University ID : 3985 Name : confederation college dryden Courses Added : 0
108. University ID : 3361 Name : university of exeter Courses Added : 45
109. University ID : 2848 Name : university of wisconsin milwaukee Courses Added : 44
110. University ID : 4310 Name : university of oulu Courses Added : 1
111. University ID : 3310 Name : university of geneva Courses Added : 20
112. University ID : 3087 Name : universite du quebec a chicoutimi Courses Added : 3
113. University ID : 4241 Name : hhl leipzig graduate school of management Courses Added : 1
114. University ID : 2617 Name : university of houston Courses Added : 113
115. University ID : 4142 Name : ie business school Courses Added : 2
116. University ID : 3923 Name : fleming college peterborough Courses Added : 1
117. University ID : 2657 Name : yale university Courses Added : 52
118. University ID : 3101 Name : university of the fraser valley Courses Added : 3
119. University ID : 3226 Name : university of tsukuba Courses Added : 15
120. University ID : 4158 Name : university of poitiers Courses Added : 15
121. University ID : 3945 Name : niagara college welland Courses Added : 2
122. University ID : 2955 Name : macquarie university sydney Courses Added : 76
123. University ID : 2956 Name : university of new south wales sydney Courses Added : 130
124. University ID : 4097 Name : london metropolitan university Courses Added : 18
125. University ID : 3761 Name : northeastern university toronto Courses Added : 5
126. University ID : 3854 Name : liverpool john moores university Courses Added : 7
127. University ID : 4235 Name : selkirk college Courses Added : 1
128. University ID : 3004 Name : university of saskatchewan saskatoon Courses Added : 80
129. University ID : 3355 Name : university of leeds Courses Added : 74
130. University ID : 863 Name : new jersey institute of technology Courses Added : 45
131. University ID : 3238 Name : erasmus university rotterdam Courses Added : 34
132. University ID : 1094 Name : university of minnesota twin cities Courses Added : 171
133. University ID : 3834 Name : university of southern denmark odense Courses Added : 23
134. University ID : 2629 Name : university of nevada las vegas Courses Added : 53
135. University ID : 3919 Name : sheridan college mississauga Courses Added : 4
136. University ID : 3090 Name : universite du quebec a trois rivieres Courses Added : 22
137. University ID : 2916 Name : university of duisburg essen Courses Added : 65
138. University ID : 2701 Name : east carolina university Courses Added : 65
139. University ID : 2655 Name : worcester polytechnic institute Courses Added : 32
140. University ID : 3876 Name : university of tubingen Courses Added : 23
141. University ID : 4175 Name : catholic university of sacred heart Courses Added : 1
142. University ID : 2596 Name : santa clara university Courses Added : 29
143. University ID : 2722 Name : hofstra university Courses Added : 63
144. University ID : 4140 Name : eada business school Courses Added : 2
145. University ID : 3237 Name : wageningen university and research Courses Added : 32
146. University ID : 4121 Name : universite cote d&amp;#39;azur Courses Added : 26
147. University ID : 4181 Name : becker colege Courses Added : 4
148. University ID : 3722 Name : northeastern university silicon valley Courses Added : 6
149. University ID : 2753 Name : north dakota state university Courses Added : 59
150. University ID : 3301 Name : kth royal institute of technology Courses Added : 55
151. University ID : 4156 Name : florida polytechnic university Courses Added : 7
152. University ID : 4309 Name : university of antwerp Courses Added : 1
153. University ID : 4067 Name : university of applied sciences europe,iserlohn Courses Added : 2
154. University ID : 2985 Name : victoria university melbourne Courses Added : 36
155. University ID : 3600 Name : university of twente Courses Added : 25
156. University ID : 4012 Name : university of west london Courses Added : 4
157. University ID : 4147 Name : universite de tours Courses Added : 3
158. University ID : 1103 Name : george washington university Courses Added : 99
159. University ID : 3614 Name : osaka perfecture university Courses Added : 6
160. University ID : 3851 Name : university of the west of england Courses Added : 35
161. University ID : 3006 Name : university of victoria Courses Added : 56
162. University ID : 2844 Name : university of washington bothell Courses Added : 11
163. University ID : 3147 Name : claremont graduate university Courses Added : 76
164. University ID : 4044 Name : griffith college dublin Courses Added : 8
165. University ID : 2583 Name : missouri university of science and technology Courses Added : 33
166. University ID : 4091 Name : Hochschule fÃ¼r wirtschaft und recht berlin Courses Added : 11
167. University ID : 708 Name : university of california santa barbara Courses Added : 10
168. University ID : 4070 Name : university of sciences philadelphia Courses Added : 0
169. University ID : 2644 Name : university of texas san antonio Courses Added : 53
170. University ID : 3317 Name : california polytechnic state university san luis obispo Courses Added : 21
171. University ID : 2610 Name : university of alabama huntsville Courses Added : 44
172. University ID : 3236 Name : eindhoven university of technology Courses Added : 28
173. University ID : 2763 Name : pace university Courses Added : 63
174. University ID : 3922 Name : george brown college st james Courses Added : 1
175. University ID : 3766 Name : university of surrey Courses Added : 21
176. University ID : 4071 Name : lucerne university pf applied science and arts Courses Added : 10
177. University ID : 2591 Name : oregon health and science university Courses Added : 14
178. University ID : 2613 Name : university of central florida Courses Added : 67
179. University ID : 3981 Name : conestoga college waterloo Courses Added : 2
180. University ID : 3034 Name : university of south alabama Courses Added : 42
181. University ID : 4269 Name : the glasgow school of art Courses Added : 1
182. University ID : 801 Name : university of pennsylvania Courses Added : 69
183. University ID : 745 Name : university of southern california Courses Added : 100
184. University ID : 2810 Name : university of california merced Courses Added : 10
185. University ID : 2958 Name : university of technology sydney Courses Added : 76
186. University ID : 4036 Name : ecole normale superieure paris saclay Courses Added : 1
187. University ID : 2677 Name : california state university east bay Courses Added : 33
188. University ID : 2927 Name : university of koblenz and landau Courses Added : 14
189. University ID : 4189 Name : University of Colorado Denver Courses Added : 6
190. University ID : 3430 Name : malardalen university Courses Added : 4
191. University ID : 4227 Name : university of worcester Courses Added : 1
192. University ID : 4154 Name : universitÃ© de pau et des pays de l&amp;#39;adour Courses Added : 8
193. University ID : 2750 Name : new york institute of technology old westbury Courses Added : 21
194. University ID : 737 Name : university of michigan ann arbor Courses Added : 60
195. University ID : 3679 Name : Ã©cole centrale de lyon Courses Added : 8
196. University ID : 2928 Name : university of konstanz Courses Added : 13
197. University ID : 2574 Name : harvard university Courses Added : 43
198. University ID : 3338 Name : trinity college Courses Added : 3
199. University ID : 4317 Name : medicine hat college Courses Added : 3
200. University ID : 4174 Name : university of verona Courses Added : 1
201. University ID : 3608 Name : okayama university Courses Added : 2
202. University ID : 3385 Name : kingston university london Courses Added : 43
203. University ID : 3089 Name : Universite du quebec a rimouski Courses Added : 22
204. University ID : 2817 Name : university of illinois at springfield Courses Added : 22
205. University ID : 3621 Name : tokyo university of science Courses Added : 12
206. University ID : 2612 Name : university of california santa cruz Courses Added : 34
207. University ID : 762 Name : polytechnic institute of new york university Courses Added : 30
208. University ID : 2778 Name : seattle university Courses Added : 32
209. University ID : 3611 Name : kanazawa university Courses Added : 6
210. University ID : 3855 Name : brikbeck university of london Courses Added : 7
211. University ID : 4030 Name : fh aachen Courses Added : 3
212. University ID : 4221 Name : loma linda university Courses Added : 1
213. University ID : 4114 Name : roma tre university Courses Added : 1
214. University ID : 2777 Name : san jose state university Courses Added : 84
215. University ID : 3653 Name : paul valey university montepellier 3 Courses Added : 20
216. University ID : 3927 Name : university of malaya Courses Added : 1
217. University ID : 3975 Name : centennial college morningside Courses Added : 0
218. University ID : 4186 Name : university of texas health science center at houston Courses Added : 1
219. University ID : 3655 Name : university of lorraine Courses Added : 9
220. University ID : 3213 Name : imperial college london Courses Added : 104
221. University ID : 814 Name : northwestern university Courses Added : 26
222. University ID : 3842 Name : university of british columbia okanagan Courses Added : 24
223. University ID : 4302 Name : university of iceland Courses Added : 2
224. University ID : 4206 Name : Conestoga College Cambridge   Fountain Street campus Courses Added : 1
225. University ID : 2961 Name : griffith university brisbane Courses Added : 49
226. University ID : 3306 Name : penn state great valley Courses Added : 35
227. University ID : 4041 Name : ghent university Courses Added : 58
228. University ID : 4032 Name : technical university of ostwesefalen lippe Courses Added : 2
229. University ID : 4128 Name : imt atlantique Courses Added : 8
230. University ID : 4000 Name : rosemont college Courses Added : 0
231. University ID : 2622 Name : university of massachusetts lowell Courses Added : 74
232. University ID : 2620 Name : university of louisville Courses Added : 63
233. University ID : 3964 Name : grande prairie regional college Courses Added : 0
234. University ID : 4009 Name : technological university dublin Courses Added : 3
235. University ID : 3095 Name : university of lethbridge Courses Added : 50
236. University ID : 3615 Name : niigata university Courses Added : 10
237. University ID : 2975 Name : torrens university australia adelaide Courses Added : 7
238. University ID : 4245 Name : university of baltimore Courses Added : 3
239. University ID : 3196 Name : insead asia campus Courses Added : 2
240. University ID : 3607 Name : chiba university Courses Added : 9
241. University ID : 2801 Name : the university of maine Courses Added : 62
242. University ID : 4013 Name : university carlos de madrid Courses Added : 5
243. University ID : 2850 Name : university of wyoming Courses Added : 51
244. University ID : 3830 Name : roskilde university Courses Added : 13
245. University ID : 3650 Name : university of bordeaux Courses Added : 10
246. University ID : 3789 Name : university of central lancashire Courses Added : 8
247. University ID : 2598 Name : southern methodist university Courses Added : 61
248. University ID : 2802 Name : the university of southern mississippi Courses Added : 54
249. University ID : 3604 Name : kobe university Courses Added : 17

In [136]:
# output = open('../data/course_list.pkl', 'wb')
# pkl.dump(course_list, output)
# output.close()

In [139]:
# pd.DataFrame(course_list).to_csv('../data/course_list.csv')